//     Mixins


@mixin radius($radius: 3px) {
  border-radius: $radius;
	-o-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin shadow($opacity:0.1, $offset:1px, $width:4px) {
	@if $opacity == 0 {
		$width: 0;
		$offset: 0;
	}
	box-shadow: 				 0 $offset $width rgba(0, 0, 0, $opacity);
	-o-box-shadow: 			 0 $offset $width rgba(0, 0, 0, $opacity);
	-moz-box-shadow: 		 0 $offset $width rgba(0, 0, 0, $opacity);
	-webkit-box-shadow:  0 $offset $width rgba(0, 0, 0, $opacity);
}

@mixin shadow_bottom($opacity: 0.5) {
	box-shadow: 				 0 4px 6px -4px rgba(0, 0, 0, $opacity);
	-o-box-shadow: 			 0 4px 6px -4px rgba(0, 0, 0, $opacity);
	-moz-box-shadow: 		 0 4px 6px -4px rgba(0, 0, 0, $opacity);
	-webkit-box-shadow:  0 4px 6px -4px rgba(0, 0, 0, $opacity);
}

@mixin shadow_top($opacity: 0.5) {
	box-shadow: 				 0 -4px 10px -4px rgba(0, 0, 0, $opacity);
	-o-box-shadow: 			 0 -4px 10px -4px rgba(0, 0, 0, $opacity);
	-moz-box-shadow: 		 0 -4px 10px -4px rgba(0, 0, 0, $opacity);
	-webkit-box-shadow:  0 -4px 10px -4px rgba(0, 0, 0, $opacity);
} 

@mixin inshadow( $size: 8px , $color: rgba(0, 0, 0, 0.2)) {
	box-shadow: 				inset 0px 0px $size $color;
	-o-box-shadow: 			inset 0px 0px $size $color;
	-moz-box-shadow: 		inset 0px 0px $size $color;
	-webkit-box-shadow: inset 0px 0px $size $color;  
}
@mixin roundshadow($color: #c6cddc, $width: 8px) {
					$neg_width: $width - $width*2;
				  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset, $neg_width $neg_width 0 0 $color, $width $width 0 0 $color, $width 0 0 0 $color, 0 $width 0 0 $color, $width $neg_width 0 0 $color, $neg_width $width 0 0 $color;
			 -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset, $neg_width $neg_width 0 0 $color, $width $width 0 0 $color, $width 0 0 0 $color, 0 $width 0 0 $color, $width $neg_width 0 0 $color, $neg_width $width 0 0 $color;
			-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset, $neg_width $neg_width 0 0 $color, $width $width 0 0 $color, $width 0 0 0 $color, 0 $width 0 0 $color, $width $neg_width 0 0 $color, $neg_width $width 0 0 $color;
		 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset, $neg_width $neg_width 0 0 $color, $width $width 0 0 $color, $width 0 0 0 $color, 0 $width 0 0 $color, $width $neg_width 0 0 $color, $neg_width $width 0 0 $color;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1) inset, $neg_width $neg_width 0 0 $color, $width $width 0 0 $color, $width 0 0 0 $color, 0 $width 0 0 $color, $width $neg_width 0 0 $color, $neg_width $width 0 0 $color;
}
@mixin gradient_left($color1: #af2d01, $color2: #700402) {
	background: $color1;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
	background-image: linear-gradient(				 left, $color1 0%, $color2 100%);
	background-image: -o-linear-gradient(			 left, $color1 0%, $color2 100%);
	background-image: -moz-linear-gradient(		 left, $color1 0%, $color2 100%);
	background-image: -webkit-linear-gradient( left, $color1 0%, $color2 100%);
	background-image: -ms-linear-gradient(		 left, $color1 0%, $color2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr="#{$color1}", endColorstr="#{$color2}",GradientType=1 );
} 
@mixin gradient_top($color1: #af2d01, $color2: #700402) {
	background: $color1;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $color1), color-stop(100%, $color2));
	background-image: linear-gradient(				 top, $color1 0%, $color2 100%);
	background-image: -o-linear-gradient(			 top, $color1 0%, $color2 100%);
	background-image: -moz-linear-gradient(		 top, $color1 0%, $color2 100%);
	background-image: -webkit-linear-gradient( top, $color1 0%, $color2 100%);
	background-image: -ms-linear-gradient(		 top, $color1 0%, $color2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr="#{$color1}", endColorstr="#{$color2}",GradientType=0 );
}  
@mixin text_shadow($depth: 0.2){
	text-shadow: 0 1px rgba(0,0,0,$depth);
}
 
@mixin press_text_shadow($depth: 0.2){
	text-shadow: 0 -1px rgba(255, 255, 255, $depth);
}

@mixin opacity_background($color: #444, $opacity:0.4) {
	background:lighten($color, 20%);
	background:rgba($color, $opacity);
}

@mixin opacity($opacity: 0.5) {
	width: 100%; 
  $op : $opacity * 100;
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity = $op);

	/* Older than Firefox 0.9 */
	-moz-opacity:$opacity;

	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: $opacity;

	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: $opacity;
}   
@mixin font-size($size, $is-important: false) {
  @if $is-important {
    font-size: $size !important;
  } @else {
    font-size: $size; 
  }
}
// WebKit font-smoothing
//------------------------------------------------

// References:
//
// 1. http://maxvoltar.com/sandbox/fontsmoothing/
// 2. http://maxvoltar.com/archive/-webkit-font-smoothing
//
// Values: none, antialiased (default), subpixel-antialiased
//

@mixin font-smoothing($value: antialiased) {
 -webkit-font-smoothing: $value ;
}

@mixin box-sizing {
	-webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

@mixin inline-block{
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  _overflow: hidden;
  *display: inline;
} 
@mixin transition($properties){ 
  -webkit-transition: $properties;
  -moz-transition:    $properties;
  -ms-transition:     $properties;
  -o-transition:      $properties;
  transition:         $properties;
}   
@mixin transform($properties){
  -webkit-transform: $properties;
  -moz-transform:    $properties;
  -ms-transform:     $properties;
  -o-transform:      $properties;
  transform:         $properties;
}